@import '../globals.scss';

header {
	background-color: #333333;
	color: #fff;
	padding: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: bold;
	height: $header-height;
	box-sizing: border-box;

	.logo {
		cursor: pointer;
	}
}

footer {
	padding: 1rem;
	background-color: #ddd;
	font-size: 14px;
	text-align: center;
	height: $footer-height;
	box-sizing: border-box;
}
