@import '../globals.scss';

.content {
	min-height: calc(100vh - #{$header-height} - #{$footer-height});
	box-sizing: border-box;
	transition-delay: 0.5s;
}

.content--item {
	display: flex;
	background-color: #eee;
	padding: 1rem;

	&:hover {
		background-color: #ddd;
		cursor: pointer;
		transition-delay: 0.1s;
	}

	.content--image {
		display: flex;
		align-items: center;

		img {
			background-color: $grey;
			border-radius: 100%;
			height: 50px;
			object-fit: cover;
		}
	}

	.content--body {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		font-size: 14px;
	}

	.content--body-title {
		font-size: 15px;
		font-weight: bold;
	}

	.content--footer {
		margin-top: 0.5rem;
	}

	.content--footer-byline {
		color: $grey;
		display: inline;
	}

	.content--footer-date {
		color: $grey;
		float: right;
		display: flex;
		align-items: center;

		svg {
			margin-right: 0.3rem;
			fill: $grey;
		}
	}

	.content--item-right {
		display: flex;
		align-items: center;
		svg {
			fill: $grey;
		}
	}
}
